.input {
  border-radius: 32px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.25;
  height: 52px;
  background-color: var(--color-white);
  border: 0;
  color: var(--color-black);
  font-family: var(--font-main);
  box-shadow: 1px 4px 4px 0px rgba(70, 168, 36, 0.45);
}

.input::placeholder {
  color: var(--color-black);
  opacity: 0.64;
  font-family: var(--font-main);
}

.input:focus {
  border: none;
  outline-color: var(--color-green);
  box-shadow: 1px 4px 12px 0px rgba(70, 168, 36, 0.9);
}
